.ion-activatable {
    position: relative;
    overflow: hidden;
 }

* {
    outline: none;
}




ion-content{
    --background: var(--main-green);
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#mainProfil {
    background: var(--main-green);
    height: 32vh;
    z-index: -2;
}


ion-icon[name="md-more"]{
    width: 50px;
    height: 30px;
    color: var(--gray);
}


#profil{
    border-radius: 50%;
    height: 100px;
}

.settings{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
        ion-icon{
            display: inline-block;
            color: var(--gray);
        }
}


.settingsContainer{
    background: var(--bg-light);
    box-shadow: var(--shadow);
    text-align: center;
    padding: 1px 0;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    right:0;
    z-index: 99;
    display: block;
    p {
        padding: 1.2em .5em;
        margin: 0;
        color: var(--gray);
        border-radius: 10px;
        min-width: 180px;
    }
}

.center {
    margin-bottom: 20px;
}




.fullname{
    text-align: center;
    h1{
        font-weight: 900;
        margin-top: 0;
    }
    ion-input {
        font-size: 1.7rem;
        font-weight: 900;
        --padding-bottom: 0;
        --padding-top: 0;
        padding: 0;
        margin-left: 20%;
        margin-right: 20%;
        background-color: var(--dim-white);
        width: auto;
        border-radius: 8px;
        border: 0;
    }
}



// Informations

#infoProfil {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: var(--bg-light);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    ion-input{
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;
        margin-block-start: 1em;
        margin-block-end: 1em;
        border-bottom: 1px solid var(--gray);
    }
}

h3{
    font-size: 1rem;
    font-weight: 900;
    display: inline-block;
}


h2{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 50px;
}

.stat{
    --ion-grid-column-padding: 0;
    
}
.stat p{
    font-size: .9rem;
    display: inline-block;
}

.spacy{
    padding-left: 5px;
}

#nbProducts,
.signDate{
    font-weight: bold;
}


#contact{
    margin-top: 30px;
    ion-col[size="auto"]{
        opacity: .5;
    }
    ion-col{
        p{
            margin:0;
            font-size: .8rem;
        }
    }
    ion-col:not([size="auto"]){
        font-weight: bold;
    }
}



ion-button{
    --background: var(--main-green);
    width: 35%;
    font-weight: bold;
    font-size: .7rem;
    text-transform: none;
    --box-shadow: var(--button-shadow);
    --background-activated: var(--main-green);
    --background-focused: var(--main-green);
    --background-hover: var(--main-green);
}