<ion-content>

  <div>
    <h1>Tricycle Extended</h1>
  </div>

  <ion-row>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <div class="error" *ngIf="error">L'identifiant ou le mot de passe est invalide</div>
      <div>
        <h2>Identifiant</h2>
        <ion-input formControlName="mail">
        </ion-input>
      </div>
      <div>
        <h2>Mot de passe</h2>
        <ion-input type="password" formControlName="password"></ion-input>
      </div>
      <ion-button id="connect" type="submit" [disabled]="loginForm.invalid">Se connecter</ion-button>
    </form>
  </ion-row>
</ion-content>



