<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nav>
    <button routerLink="/adminprod">Products</button>
    <button routerLink="/adminuser">Users</button>
  </nav>



  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <div class="profil">
        <img src="../../assets/image/profil.jpg" alt="profil image" />
      </div>
    </ion-col>
    <ion-col class="info">
      <h2>Arthur Geay</h2>
      <b>arthur.geay@gmail.com</b>
    </ion-col>
    <ion-col size="3" class="crud">
      <button>Edit user</button>
      <button>Delete user</button>
    </ion-col>
  </ion-row>
  









  
</ion-content>
