<ion-header>
  <ion-toolbar>
    <ion-title>
      Historique
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let data of productsHistory">
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>{{ data.date_scan | date: 'd MMMM yyyy'}}</h3>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/product/{{ data.productInfo.barcode }}">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="{{ data.productInfo.img }}" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>{{ data.productInfo.name }}</h2>
          <b>{{ data.productInfo.brand }}</b>
        </div>
        <div class="category"><img src="../../assets/image/layers.png" />
          <p>{{ data.productInfo.categories }}</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img *ngIf="data.productInfo.bin.includes('bleu')" src="../../assets/image/bin.png" alt="poubelle" />
            <img *ngIf="data.productInfo.bin.includes('jaune')" src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
          </div>
        </div>
        <pre *ngIf="data.owner">
          <img src="../../assets/image/light-bulb.png">
        </pre>
      </ion-col>
    </ion-row>
  </ion-grid>


<!-- 
  <ion-grid>
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>23 Novembre 2019</h3>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/product">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="../../assets/image/product(2).jpg" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>Pommes de terre rissolées</h2>
          <b>Findus</b>
        </div>
        <div class="category"><img src="../../assets/image/layers.png" />
          <p>Surgelés</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img src="../../assets/image/bin.png" alt="poubelle" />
            <img src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
          </div>
        </div>
        <pre>
            <img src="../../assets/image/light-bulb.png">
          </pre>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>19 Novembre 2019</h3>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/product">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="../../assets/image/product(3).jpg" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>Céréales Corn Flakes</h2>
          <b>Kellog's</b>
        </div>
        <div class="category"><img src="../../assets/image/layers.png" />
          <p>Épicerie Sucrée</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img src="../../assets/image/bin.png" alt="poubelle" />
            <img src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
          </div>
        </div>
        <pre>
              <img src="../../assets/image/light-bulb.png">
            </pre>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>17 Novembre 2019</h3>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/product">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="../../assets/image/product(4).jpg" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>Bonbons oeufs au plat</h2>
          <b>Haribo</b>
        </div>
        <div class="category"><img src="../../assets/image/layers.png" />
          <p>Chocolats & Bonbons</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img src="../../assets/image/bin.png" alt="poubelle" />
            <img src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
          </div>
        </div>
        <pre>
                <img src="../../assets/image/light-bulb.png">
              </pre>
      </ion-col>
    </ion-row>
  </ion-grid>





  <ion-grid>
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>15 Novembre 2019</h3>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/product">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="../../assets/image/product(5).jpg" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>Gaufres de Liège au Chocolat</h2>
          <b>Lotus</b>
        </div>
        <div class="category"><img src="../../assets/image/layers.png" />
          <p>Biscuits & Gateaux</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img src="../../assets/image/bin.png" alt="poubelle" />
            <img src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
          </div>
        </div>
        <pre>
                  <img src="../../assets/image/light-bulb.png">
                </pre>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>