<ion-header>
  <ion-toolbar>
    <ion-title>Creation de produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h1>Ce produit n'existe pas ! <br>Crée-le !</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h2>Nom du produit</h2>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h2>Image du Produit</h2>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h2>Catégorie du produit</h2>
      <ion-select></ion-select>
    </ion-col>
  </ion-row>




  <ion-row>
    <ion-col>
      <h2>Quelles emballages sont sur le produits</h2>
      <p>Plusieurs choix sont disponibles</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>Sachet Plastique</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Description du produit</ion-label>
        <ion-textarea placeholder="entrez la description d'un produit"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>Enregistrer le produit</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
