<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/history"></ion-back-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()" enctype="multipart/form-data">
      <div class="error" *ngIf="isEdit && productForm.invalid">Veuillez remplir tous les champs</div>
      <ion-row>
        <ion-col size="4">
          <div class="containProduct" *ngIf="!isEdit">
            <img src="{{ product?.img  }}" alt="product image" />
          </div>
          <div class="snap" *ngIf="isEdit">
            <input type="file" accept="image/*" id="profilPic" formControlName="img" (change)="onFileChange($event)" />
            <label for="profilPic">
              <img src="../../assets/image/plus.png" alt="add" />
            </label>
          </div>
        </ion-col>
        <ion-col class="infoProduct">
          <div>
            <h2 *ngIf="!isEdit">{{ product?.name }}</h2>
            <ion-input *ngIf="isEdit" id="name" formControlName="name"></ion-input>
            <b *ngIf="!isEdit">{{ product?.brand}}</b>
            <ion-input *ngIf="isEdit" id="brand" formControlName="brand"></ion-input>
          </div>
          <div class="category"><img src="../../assets/image/layers.png" />
            <p *ngIf="!isEdit">{{ product?.categories}}</p>
            <ion-select placeholder="Catégories" *ngIf="isEdit" formControlName="categories">
              <ion-select-option value="Bio & Ecologie" [selected]="product?.categories == 'Bio & Ecologie'">Bio &
                Ecologie</ion-select-option>
              <ion-select-option value="Fruits & Légumes" [selected]="product?.categories == 'Fruits & Légumes'">Fruits
                & Légumes</ion-select-option>
              <ion-select-option value="Viandes et Poissons" [selected]="product?.categories == 'Viandes et Poissons'">
                Viandes et Poissons</ion-select-option>
              <ion-select-option value="Pains et Pâtisseries"
                [selected]="product?.categories == 'Pains et Pâtisseries'">Pains et Pâtisseries</ion-select-option>
              <ion-select-option value="Crémerie" [selected]="product?.categories == 'Crémerie'">Crémerie
              </ion-select-option>
              <ion-select-option value="Fromage et Charcuterie"
                [selected]="product?.categories == 'Fromage et Charcuterie'">Fromage et Charcuterie</ion-select-option>
              <ion-select-option value="Traiteur" [selected]="product?.categories == 'Traiteur'">Traiteur
              </ion-select-option>
              <ion-select-option value="Surgelés" [selected]="product?.categories == 'Surgelés'">Surgelés
              </ion-select-option>
              <ion-select-option value="Épicerie Salée" [selected]="product?.categories == 'Épicerie Salée'">Épicerie
                Salée</ion-select-option>
              <ion-select-option value="Épicerie Sucrée" [selected]="product?.categories == 'Épicerie Sucrée'">Épicerie
                Sucrée</ion-select-option>
              <ion-select-option value="Boissons sans alcool"
                [selected]="product?.categories == 'Boissons sans alcool'">Boissons sans alcool</ion-select-option>
              <ion-select-option value="Alcools et Produits apéritifs"
                [selected]="product?.categories == 'Alcools et Produits apéritifs'">Alcools et Produits apéritifs
              </ion-select-option>
              <ion-select-option value="Animaux" [selected]="product?.categories == 'Animaux'">Animaux
              </ion-select-option>
              <ion-select-option value="Parapharmacie" [selected]="product?.categories == 'Parapharmacie'">Parapharmacie
              </ion-select-option>
              <ion-select-option value="Produits du terroir" [selected]="product?.categories == 'Produits du terroir'">
                Produits du terroir</ion-select-option>
              <ion-select-option value="Maison & Intérieur" [selected]="product?.categories == 'Maison & Intérieur'">
                Maison & Intérieur</ion-select-option>
              <ion-select-option value="Cuisine et arts de la table"
                [selected]="product?.categories == 'Cuisine et arts de la table'">Cuisine et arts de la table
              </ion-select-option>
              <ion-select-option value="Electroménager" [selected]="product?.categories == 'Electroménager'">
                Electroménager</ion-select-option>
              <ion-select-option value="Jardin & Extérieur" [selected]="product?.categories == 'Jardin & Extérieur'">
                Jardin & Extérieur</ion-select-option>
              <ion-select-option value="Bricolage & Auto" [selected]="product?.categories == 'Bricolage & Auto'">
                Bricolage & Auto</ion-select-option>
              <ion-select-option value="Beauté, entretien et propreté"
                [selected]="product?.categories == 'Beauté, entretien et propreté'">Beauté, entretien et propreté
              </ion-select-option>
              <ion-select-option value="Bagagerie, sport et loisirs"
                [selected]="product?.categories == 'Bagagerie, sport et loisirs'">Bagagerie, sport et loisirs
              </ion-select-option>
              <ion-select-option value="Téléphonie et objets connectés"
                [selected]="product?.categories == 'Téléphonie et objets connectés'">Téléphonie et objets connectés
              </ion-select-option>
              <ion-select-option value="Image et Son" [selected]="product?.categories == 'Image et Son'">Image et Son
              </ion-select-option>
            </ion-select>
          </div>
          <div class="settings" *ngIf="owner || authService.userInfo.role.includes('admin')">
            <ion-icon name="md-more" (click)="onShowSettings()"></ion-icon>
            <div class="settingsContainer" *ngIf="isOpen">
              <p class="ion-activatable" *ngIf="!isEdit" (click)="onEdit()">
                <ion-ripple-effect></ion-ripple-effect>Modifier
              </p>
              <p class="ion-activatable" (click)="alert()">
                <ion-ripple-effect></ion-ripple-effect>Supprimer
              </p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row size="auto">
        <ion-col size="auto">
          <h3>{{ product?.creation_date | date: 'd MMMM yyyy' || 'N/D' }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="bin" size="auto">
          <p>Poubelles</p>
          <div>
            <ion-item *ngIf="isEdit">
              <ion-label>Selectionner le type de poubelle</ion-label>
              <ion-select formControlName="bin">
                <ion-select-option value="bleu" [selected]="product?.bin.includes('bleu')">Poubelle</ion-select-option>
                <ion-select-option value="jaune" [selected]="product?.bin.includes('jaune')">Recyclage
                </ion-select-option>
                <ion-select-option value="verre" [selected]="product?.bin.includes('verre')">Benne à Verre
                </ion-select-option>
                <ion-select-option value="electromenager" [selected]="product?.bin.includes('electromenager')">
                  Dispositif Electroménager</ion-select-option>
                <ion-select-option value="dechetterie" [selected]="product?.bin.includes('dechetterie')">Déchetterie
                </ion-select-option>
              </ion-select>
            </ion-item>
            <figure *ngIf="!isEdit && product?.bin.includes('bleu') ">
              <img src="../../assets/image/bin.png" alt="poubelle" />
              <figcaption>Poubelle</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.bin.includes('jaune')">
              <img src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
              <figcaption>Recyclage</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.bin.includes('verre')">
              <img src="../../assets/image/verre.png" alt="benne à verre" />
              <figcaption>Verre</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.bin.includes('electromenager')">
              <img src="../../assets/image/piledispo.png" alt="dispositif pour électroménager" />
              <figcaption>Dispositif pour électroménager</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.bin.includes('dechetterie')">
              <img src="../../assets/image/piledispo.png" alt="dechetterie" />
              <figcaption>Déchetterie</figcaption>
            </figure>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="package">
          <p>Packaging</p>
          <div>
            <ion-item *ngIf="isEdit">
              <ion-label>Selectionner le type d'emballage</ion-label>
              <ion-select formControlName="packaging">
                <ion-select-option value="Sachet plastique"
                  [selected]="product?.packaging.includes('Sachet plastique')">Sachet Plastique</ion-select-option>
                <ion-select-option value="Boîte en plastique"
                  [selected]="product?.packaging.includes('Boîte en plastique')">Boîte en Plastique</ion-select-option>
                <ion-select-option value="Boîte en verre" [selected]="product?.packaging.includes('Boîte en verre')">
                  Boîte en Verre</ion-select-option>
                <ion-select-option value="Boîte en carton" [selected]="product?.packaging.includes('Boîte en carton')">
                  Boîte en carton</ion-select-option>
                <ion-select-option value="Autre" [selected]="product?.packaging.includes('Autre')">Autre
                </ion-select-option>
              </ion-select>
            </ion-item>
            <figure *ngIf="!isEdit && product?.packaging.includes('Sachet plastique')">
              <img src="../../assets/image/plastic.png" alt="Plastique" />
              <figcaption>Sachet Plastique</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.packaging.includes('Boîte en plastique')">
              <img src="../../assets/image/cardboard.png" alt="Boîte en Plastique" />
              <figcaption>Boîte en Plastique</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.packaging.includes('Boîte en verre')">
              <img src="../../assets/image/glass.png" alt="Boîte en verre" />
              <figcaption>Boîte en Verre</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.packaging.includes('Boîte en carton')">
              <img src="../../assets/image/cardboard.png" alt="Boîte en Carton" />
              <figcaption>Boîte en Carton</figcaption>
            </figure>
            <figure *ngIf="!isEdit && product?.packaging.includes('Autre')">
              <img src="../../assets/image/other.png" alt="Autre" />
              <figcaption>Autre</figcaption>
            </figure>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Description</h2>
          <p *ngIf="!isEdit">{{ product?.description }}</p>
          <ion-textarea *ngIf="isEdit" formControlName="description"></ion-textarea>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>