<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="welcome-card">
    <img src="/assets/image/TriCycle.png" alt="" />
    <ion-card-header>
      <ion-card-title>Votre activité</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let userData of userHistory">
        <ion-card-subtitle>Total Produits scannées : <strong>{{ userData.number_scan }} </strong></ion-card-subtitle>
        <ion-card-subtitle>Aujourd'hui vous avez scannées
          <strong>{{ userData.totalToday || 0 }}</strong> produits</ion-card-subtitle>
      </div>
      <div *ngIf="userHistory === undefined || userHistory.length === 0">Vous n'avez pas encore scanné de produits !</div>
    </ion-card-content>
  </ion-card>
  <ion-grid *ngFor="let userData of userHistory">
    <ion-row>
      <ion-col>
        <h2>Dernier produit scanné</h2>
      </ion-col>
    </ion-row>
    <ion-row size="auto">
      <ion-col size="auto">
        <h3>{{ userData.history[0].date_scan | date: 'd MMMM yyyy' }}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="last" routerLink="/product/{{ userData.productInfo[0].barcode }}">
      <ion-col size="4" class="ion-no-padding">
        <div class="containProduct">
          <img src="{{ userData.productInfo[0].img}}" alt="product image" />
        </div>
      </ion-col>
      <ion-col class="infoProduct">
        <div>
          <h2>{{ userData.productInfo[0].name}}</h2>
          <b>{{ userData.productInfo[0].brand}}</b>
        </div>
        <div class="category">
          <img src="../../assets/image/layers.png" />
          <p>{{ userData.productInfo[0].categories }}</p>
        </div>
      </ion-col>
      <ion-col class="bin" size="auto">
        <div>
          <p>Poubelles</p>
          <div>
            <img *ngIf="userData.productInfo[0].bin.includes('bleu')" src="../../assets/image/bin.png" alt="poubelle" />
            <img *ngIf="userData.productInfo[0].bin.includes('jaune')" src="../../assets/image/recycling.png" alt="poubelle de recyclage" />
            <img *ngIf="userData.productInfo[0].bin.includes('verre')" src="../../assets/image/verre.png" alt="benne à verre" />
            <img *ngIf="userData.productInfo[0].bin.includes('electromenager')" src="../../assets/image/piledispo.png" alt="dispositif pour électroménager" />
            <img *ngIf="userData.productInfo[0].bin.includes('dechetterie')" src="../../assets/image/piledispo.png" alt="dechetterie" />
          </div>
        </div>
        <pre *ngIf="userData.history[0].owner">
              <img src="../../assets/image/light-bulb.png">
            </pre>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item routerLink="/create">
      <ion-icon slot="start" color="medium" name="add"></ion-icon>
      <ion-label>Création d'un produit</ion-label>
    </ion-item>
  </ion-list>
</ion-content>